.btn-default {
    border: 1px gray solid;
}

.backlog-menu {
    margin-top: 10px;
}

.main-menu-btn ~ .main-menu-btn {
    margin-left: 10px;
}

.badge {
    font-size: 0.85rem;
    padding: 6px;
}

.table.collapsed-table th, .table.collapsed-table td {
    padding: 0.5rem;
    vertical-align: middle;
}

#glass_pane{
    width: 100%;
    height: 100%;
    top: 0px;
    left: 0px;
    background-color: rgba(15, 15, 15, 0.5);
    position: fixed;
    display: block;
}

.img-thumb {
    cursor: zoom-in;
}

footer.footer {
    width: 100%;
    height: 1.5em;
    border-top: 1px solid #ddd;
    margin-top: 15px;
    padding: 5px;
    position: absolute;
    bottom: 0.5em;
}

div.main-content {
    border-top: 1px solid #ddd;
}

table.content-table tr td {
    vertical-align: middle;
}

table.content-table thead tr {
    font-weight: bold;
}

div.content-inner {
    height: calc(100vh - 5em - 4.5em - 3em - 6em - 3em);
    overflow-y: auto;
    overflow-x: hidden;
}

div.content-bar {
    height: 4em;
    margin-bottom: 0.5em;
}

table.content-table thead th {
    background: blueviolet;
    position: sticky;
    top: -1px;
    z-index: 1;
}

div.table-pager {
    margin-top: 10px;
}

div.traders {
    height: 75vh;
    overflow-y: scroll;
}

div.charts {
    height: 75vh;
    overflow-x: none;
    overflow-y: none;
    display: none;
}

div.trader {
    height: 235px;
    margin-top: 15px;
    margin-bottom: 15px;
}

div.markets {
    width: 170px;
    padding-right: 15px;
}

div.profiles {
    width: 150px;
}

div.trade-list {
    border-top: 2px solid gray;
    height: calc(25vh - 2px - 15px);
    max-height: calc(25vh - 2px - 15px);
    margin: 0px;
}

#trade_list_sizer {
    width: 35px;
    height: 15px;
    position: absolute;
    margin-left: 50%;
    margin-right: 50%;
    margin-top: -7px;
    background: gray;
}

#trade_list_sizer:hover {
    background: #EBBA19;
}

div.trade-list-context {
    overflow-y: scroll;
    height: calc(25vh - 2px - 15px);
}

input.stop-loss-price, input.take-profit-price, input.entry-price {
    width: 150px;
    margin-right: 15px;
}

div.trader-row {
    padding-left: 15px;
    padding-right: 15px;
    margin-bottom: 5px;
}

div.quantity-factor {
    padding-left: 15px;
}

p.sub-menu {
    margin-bottom: 0px;
}

div.slider {
    margin-left: 5px;
    margin-right: 10px;
    margin-top: 5px;
    margin-bottom: 5px;
}

button.long-action {
    margin-left: 30px;
    margin-right: 15px;
}

button.short-action {
    margin-right: 15px;
}

button.siis-chart-auto {
    margin-right: 15px;   
}

input[type="range"] {
    width: 100%;
}

span.quantity-value {
    margin-left: 10px;
    margin-top: 5px;
    width: 35px;
}

a.menu-btn {
    width: 95%;
    margin-left: 5%;
    margin-top: 0px;
    margin-bottom: 0px;
    border-right: none;
    border-bottom-right-radius: 0px;
    border-top-right-radius: 0px;
    height: 27px;
    padding-top: 3px;
    padding-bottom: 3px;
}

a.menu-btn-half-left {
    width: 47%;
}

a.menu-btn-half-right {
    width: 90px;
    margin-left: -3px;
    border-bottom-left-radius: 0px;
    border-top-left-radius: 0px;
}

/*a.menu-btn:nth-of-type(1) {
    border-top: 1px solid gray;
}*/

a.menu-btn {
    border-top: none;
}

div.trade-list-menu {
    border-right: 3px solid gray;
    width: 10%;
}

div.trade-list-context {
    width: 90%;
    padding-left: 5px;
    padding-right: 5px;
    padding-top: 0px;
}

div.list-entries > table > tbody > tr:nth-child(odd) {
    background-color: #2b2b2b;
}

#notifications {
    display: block;
    position: absolute;
    right: 50px;
    top: 50px;
    width: 300px;
}

div.status {
    height: 15px;
    border-bottom: 1px solid gray;
}

#toggle_trades_status:hover, #toggle_perf_status:hover {
    cursor: pointer;
}

#conn_state {
    display: block;
    position: absolute;
    left: 5px;
    top: 1px;
    width: 10px;
    height: 10px;
    border: 0px solid gray;
    border-radius: 8px;
    background: gray;
}

#ws_state {
    display: block;
    position: absolute;
    left: 20px;
    top: 1px;
    width: 10px;
    height: 10px;
    border: 2px solid gray;
    border-radius: 8px;
    background: gray;
}

#strategy_state {
    display: block;
    position: absolute;
    left: 35px;
    top: 1px;
    width: 10px;
    height: 10px;
    border: 0px solid gray;
    border-radius: 8px;
    background: gray;
}

#trader_state {
    display: block;
    position: absolute;
    left: 50px;
    top: 1px;
    width: 10px;
    height: 10px;
    border: 2px solid gray;
    border-radius: 8px;
    background: gray;
}

#watcher1_state {
    display: block;
    position: absolute;
    left: 65px;
    top: 1px;
    width: 10px;
    height: 10px;
    border: 2px solid gray;
    border-radius: 8px;
    background: gray;
}

#watcher2_state {
    display: block;
    position: absolute;
    left: 80px;
    top: 1px;
    width: 10px;
    height: 10px;
    border: 2px solid gray;
    border-radius: 8px;
    background: gray;
}

#watcher3_state {
    display: block;
    position: absolute;
    left: 95px;
    top: 1px;
    width: 10px;
    height: 10px;
    border: 2px solid gray;
    border-radius: 8px;
    background: gray;
}

#watcher4_state {
    display: block;
    position: absolute;
    left: 110px;
    top: 1px;
    width: 10px;
    height: 10px;
    border: 2px solid gray;
    border-radius: 8px;
    background: gray;
}

#watcher5_state {
    display: block;
    position: absolute;
    left: 125px;
    top: 1px;
    width: 10px;
    height: 10px;
    border: 2px solid gray;
    border-radius: 8px;
    background: gray;
}

#state_values {
    display: block;
    position: absolute;
    left: 140px;
    top: -2px;
}

#state_values {
    font-size: 0.75em;
}

div.active-trade-list-entries {
    display: block;
}

div.historical-trade-list-entries {
    display: none;
}

div.signal-list-entries {
    display: none;
}

div.alert-list-entries {
    display: none;
}

div.active-alert-list-entries {
    display: none;
}

div.options-list-entries {
    display: none;
}

div.performance-list-entries {
    display: none;
}

div.console-list-entries {
    display: none;
}

span.trade-long {
    color: green;
}

span.trade-short {
    color: red;
}

span.signal-entry {
    color: cyan;
}

span.signal-exit {
    color: orange;
}

button.trade-modify-take-profit, button.trade-modify-stop-loss {
    padding: 4px;
    margin-left: 3px;
}

div.chart-1x2 {
    display: none;
}

div.chart-2x2 {
    display: none;
}

div.chart-3x2 {
    display: none;
}

div.chart-2x1 {
    display: none;
}

div.chart-buttons {
    position: absolute;
    right: 50px;
    top: 50px;
    width: 300px;    
}
